language: ruby

dist: trusty
sudo: false

rvm:
  - 2.3.3

addons:
  postgresql: "9.5"

before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -d travis_ci_test < db/structure.sql

script:
  - bundle exec rake
  - bundle exec rubocop
