<h1>Password reset</h1>

<p>To reset your password, click the link below:</p>

<%= link_to "Reset password", reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in one hour.</p>

<p>
If you did not request a password reset, please ignore this email
and your password will stay as it is.
</p>
