<div id="dates" class="col-xs-12">
  <h2>Filter stats by date range</h2>

  <hr>

  <div class="clearfix">
    <h2>By show date</h2>
    <div class="text-center">
      <select style="width: 12vw;">
        <option>Display only</option>
        <option>Hide all</option>
      </select>
      stats from games aired
      <select style="width: 20vw;">
        <option>since the beginning of</option>
        <option>in the last</option>
        <option>since</option>
        <option>between</option>
      </select>
      <select style="width: 22vw;">
        <option>time</option>
        <option>Season 34 (2017-09-11)</option>
        <option>Season 33 (2016-09-12)</option>
        <option>Season 32 (2015-09-14)</option>
      </select>
      .
    </div>
    <div class="text-center">
      Apply a half-life?
    </div>
  </div>

  <hr>

  <div class="clearfix">
    <h2>By date played</h2>
    <div class="text-center">
    </div>
  </div>

  <hr>

  <div class="text-center">
    <button>Apply</button>
  </div>
</div>
