<div id="options" class="col-xs-12">
  <div class="clearfix">
    <h2>Backup and Restore</h2>
    <div class="isolated-sentence">
      Download a backup of your data by clicking <%= link_to 'here', backup_path %>.
    </div>
    <div class="isolated-sentence">
      Add games from a previously-generated backup file.
      <br>
      <%= form_with(url: restore_path, multipart: true) do %>
        <label for="file">File to Upload</label>
        <%= file_field_tag 'file' %>
        <%= submit_tag 'Go for it' %>
      <% end %>
    </div>
  </div>
</div>
