<% provide(:title, 'About') %>
<div id="about-page">
  <div class="col-xs-10 col-xs-offset-1 booyah-box">
    <h1>About</h1>
    <br />
    <p>
    The J! Scorer is being built by <a target="_blank" href="https://github.com/steve-mcclellan">Steve McClellan</a>, because he wants something like it to exist.
    </p>

    <br />
    <br />

    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'steve.jpg', class: 'img-responsive' %>
      </div>

      <div class="visible-xs-block">
        &nbsp;<hr />
      </div>

      <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <h2>Steve McClellan</h2>
        <br />
        <p>
        Steve McClellan (seen here in his appearance on <i>J!</i>'s sister show) is a web developer and game show aficionado. In previous lives, he has been a poker dealer and high school sports official. He can be reached at <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
        </p>
      </div>
    </div>
  </div>
</div>
