<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The J! Scorer is being developed by Steve McClellan, who will add more information here (including his contact info) after the app's basic functionality has been added.
</p>
