<div id="panel">
  <div id="scoreboard">
    Score
    <div>
      <span id="score">$&hellip;</span>
      <span id="final-symbol"></span>
    </div>
  </div>

  <div id="round-links">
    <div id="r1slot"><a id="round-one-link" tabindex="100">Round One</a></div>
    <div id="r2slot"><a id="round-two-link" tabindex="100">Round Two</a></div>
    <div id="fjslot"><a id="final-round-link" tabindex="100">Final Round</a></div>
  </div>

  <div id="save-area">

    <div class="row">
      <div class="col-xs-6 col-compact">
        <span class="title">Show date:</span>
      </div>
      <div class="col-xs-6 col-compact text-right">
        <span id="show-date-change" class="title">
          (<a id="change-show-date-link"
              tabindex="200"
              data-toggle="modal"
              data-target="#date-change-modal">change</a>)
        </span>
      </div>
    </div>

    <div id="show-date-area" class="">
      <div class="row">
        <div class='col-xs-12 col-compact'>
          <div class="form-group">
            <div class='input-group date' id='show-date-picker'>
              <input type='text'
                     class="form-control"
                     tabindex="200"
                     spellcheck="false" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- show-date-area -->

    <div class="row">
      <div class="col-xs-4 col-compact">
        <span class="title">Played at:</span>
      </div>
      <div class="col-xs-8 col-compact text-right">
        <span id="time-zone" class="title">(Time zone: Pacific)</span>
      </div>
    </div>

    <div id="played-at-area">
      <div class="row">
        <div class='col-xs-12 col-compact'>
          <div class="form-group">
            <div class='input-group date' id='played-picker'>
              <input type='text'
                     class="form-control"
                     tabindex="200"
                     spellcheck="false" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- played-at-area -->
    <span class="title">Play type:</span>
    <select id="play-type-select" tabindex="200">
      <% PLAY_TYPES.each do |abbr, name| %>
        <option value="<%= abbr %>"><%= name %></option>
      <% end %>
    </select>

    <div class="text-center">
      <% if current_user %>
        <a id="save-link" tabindex="300" data-disabled="false">Save game</a>
      <% else %>
        <%= link_to 'Log in', login_path, tabindex: "300" %> to save game
      <% end %>
    </div>
  </div> <!-- save-area -->


  <div id="panel-links">
    <a id="delete-game-link" tabindex="400">New game</a>
  </div>
</div> <!-- panel -->
