var $modalContent = $( "#restore-modal-content" );

function updateModalContent( completed, total ) {
  var statusMessage;
  if (completed === total) {
    statusMessage = "Complete! " + completed + " games restored.";
  } else {
    statusMessage = "Restore in progress: " + completed + " of " +
                    total + " games saved.";
  }
  $modalContent.html(
    '<div class="col-xs-12 col-compact">' + statusMessage + '</div>'
  );
}

function makeRestoreStatusRequest() {
  $.ajax({
    url: "/restore/<%= @job_id %>",
    method: "GET",
    cache: false,
    timeout: 5000,  // milliseconds
    success: function ( data ) {
      if ( data.status === "failed" ) {
        alert("Oops. Something went wrong. If this persists, please " +
            "email <%= ENV['SUPPORT_ADDRESS'] %>.");
      } else {
        updateModalContent( data.progress, data.total );
        if ( data.status !== "completed" ) {
          window.setTimeout(makeRestoreStatusRequest, 1000);
        }
      }
    },
    failure: function () {
      alert( "Oops. Something went wrong. If this persists, please " +
             "email <%= ENV['SUPPORT_ADDRESS'] %>." );
    }
  });
}

updateModalContent( 0, <%= @games_count %> )
makeRestoreStatusRequest();
