@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$light-background-color:  #ccc;
$medium-background-color: #777;
$dark-background-color:   #222;

$gameboard-color:  black;
$disclaimer-color: #777;

$j-blue:         #151e8c;
$j-light-blue:   #353eac;
$j-lighter-blue: #8a8fc6;
$j-yellow:       #cf9f3e;
$j-shadow:       #101014;
$dd-border:      #674f1f;

/* universal */

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $medium-background-color;
}

main {
  height: 88%;
}

a {
  cursor: pointer;
}

.data-passer {
  display: none;
}

.row.row-compact {
  margin-left: 0;
  margin-right: 0;
}

.col-xs-12.col-compact {
  padding-left: 0;
  padding-right: 0;
}

/* typography */

h1, h2 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

main {
  font-size: 1.2vw;
}

/* header */

header {
  height: 7%;
  background-color: $dark-background-color;
  overflow: hidden;
}

#logo {
  float: left;
  margin-left: 2vmin;
  margin-right: 1vmin;
  font-size: 4vmin;
  color: $j-yellow;
  text-transform: capitalize;
  letter-spacing: -0.1vmin;
  padding-top: 1.0vmin;
  font-weight: bold;
  &:hover {
    color: $j-yellow;
    text-decoration: none;
  }
}

ul.navigation {
  list-style-type: none;
  text-align: right;
  font-size: 3vmin;
  padding-top: 1.25vmin;
  li {
    display: inline;
    a {
      text-decoration: none;
      margin-right: 4vmin;
      color: $j-yellow;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

/* footer */

footer {
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-background-color;
  color: $disclaimer-color;
  font-size: 1.35vmin;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input {
  height: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* stats page */
#stats-area {
  height: 100%;
  overflow: auto;
}

/* game page */

#game-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  #board-area {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 7;
    border: 0.3vw solid $gameboard-color;
    background-color: $j-blue;

    #board {
      z-index: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;

      .category {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cat-title {
          height: 100%;
          width: 100%;
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-size: 1.44vw;
          line-height: 110%;
          font-weight: bold;
          text-shadow: 0.1vw 0.1vw $j-shadow;
          border: 0.3vw solid $gameboard-color;
          overflow: hidden;

          .click-resistant {
            pointer-events: none;
          }

          .default-cat {
            color: #777;
            text-shadow: none;
          }
        }

        .topic-area {
          flex: 1;
          background-color: white;
          color: black;
          text-align: center;
          border: 0.3vw solid $gameboard-color;
          margin: 0;
        }

        .clue-box {
          width: 100%;
          height: 100%;
          flex: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3vw;
          font-weight: bold;
          color: $j-yellow;
          text-shadow: 0.2vw 0.2vw $j-shadow;
          border: 0.3vw solid $gameboard-color;
          cursor: default;
        }

        .active-clue-box:hover {
          background-color: $j-light-blue;
        }

        .dd-box {
          border: 0.3vw solid $dd-border;
        }
      }
    }

    #clue-over-board {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $j-blue;
      border: 0.3vw solid $gameboard-color;

      #clue-heading {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 6vh;

        #overlay-cat {
          text-transform: uppercase;
        }

        #overlay-value {
        }
      }

      #clue-body {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #correctness-buttons {
          height: 90%;
          width: 65%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          button {
            height: 25%;
            width: 80%;
            font-size: 10vh;
            margin: 3vh 0;
          }
        }

        #dd-nr-cancel {
          height: 90%;
          width: 35%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          div {
            height: 25%;
            width: 80%;
            margin: 3vh 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          label {
            color: white;
            font-size: 10vh;
            font-weight: normal;
            margin: 0;
          }

          input {
            width: 7vh;
            height: 7vh;
            margin: 0;
          }

          button {
            height: 100%;
            width: 100%;
            font-size: 10vh;
          }

          a {
            color: white;
            text-decoration: none;
          }

          #reset-cancel {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            #reset-link {
              font-size: 3vh;
            }

            #cancel-link {
              font-size: 5vh;
            }
          }
        }
      }
    }

    #final-over-board {
      position: absolute;
      top: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $j-blue;
      border: 0.3vw solid $gameboard-color;

      #final-cat-title {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.44vw;
        line-height: 110%;
        font-weight: bold;
        text-shadow: 0.1vw 0.1vw $j-shadow;
        border: 0.3vw solid $gameboard-color;
        overflow: hidden;

        .click-resistant {
          pointer-events: none;
        }

        .default-cat {
          color: #777;
          text-shadow: none;
        }
      }

      #final-topic-area {
        height: 10%;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
        border: 0.3vw solid $gameboard-color;
        margin: 0;
      }

      #final-clue-body {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.3vw solid $gameboard-color;

        #final-correctness-buttons {
          height: 70%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          button {
            height: 50%;
            width: 40%;
            font-size: 10vh;
            margin: 3vh 0;
          }
        }

        #final-contestant-results {
          height: 30%;
          width: 100%;
          display: flex;
          // flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;

          .contestant-result {
            color: white;
            font-size: 2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
              font-size: 2vw;
              font-weight: normal;
              margin: 0;
            }

            .btn-default.fj-button {
              padding: 1vh 1vw;
            }

            .btn-default.fj-button.active {
              background-color: $j-lighter-blue;
            }
          }
        }
      }
    }
  }

  #panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $light-background-color;

    .disabled {
      color: #999;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }

    #scoreboard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2vw;

      #score {
        font-size: 3.5vw;
      }

      .score-positive {
        color: black;
      }

      .score-negative {
        color: red;
      }

      #final-symbol {
        font-size: 3.5vw;
      }
    }

    #round-links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #panel-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
