@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$light-background-color:  #ccc;
$medium-background-color: #777;
$dark-background-color:   #222;

$gameboard-color:  black;
$disclaimer-color: #777;

$j-blue:         #151e8c;
$j-light-blue:   #353eac;
$j-lighter-blue: #8a8fc6;
$j-yellow:       #cf9f3e;
$j-shadow:       #101014;
$dd-border:      #674f1f;

$check-green: #00ff00;
$check-light-green: #88ff88;

$x-red: #ff0000;
$x-light-red: #ff8888;

/* universal */

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $light-background-color;
}

main {
  height: 88%;
}

a {
  color: $j-light-blue;
  cursor: pointer;
  &:hover {
    color: $j-lighter-blue;
  }
}

.data-passer {
  display: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-xs-4.col-compact, .col-xs-6.col-compact,
.col-xs-8.col-compact, .col-xs-12.col-compact {
  padding-left: 0;
  padding-right: 0;
}

p.padded-graf {
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.btn.btn-primary {
  background-color: $j-blue;
}

/* typography */

h1, h2 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

main {
  font-size: 3vmin;
}

.nowrap {
  white-space: nowrap;
}

/* override tablesorter styles */

.tablesorter {
  font-size: 8pt;

  tbody tr:nth-child(odd) td {
    background-color: #f0f0f6;
  }

  tbody tr:hover td {
    background-color: #ccc;
  }
}

/* header */

header {
  height: 7%;
  background-color: $dark-background-color;
  overflow: hidden;
}

#logo {
  float: left;
  margin-left: 2vmin;
  margin-right: 1vmin;
  font-size: 4vmin;
  color: $j-yellow;
  text-transform: capitalize;
  letter-spacing: -0.1vmin;
  padding-top: 1.0vmin;
  font-weight: bold;
  &:hover {
    color: $j-yellow;
    text-decoration: none;
  }
}

ul.navigation {
  list-style-type: none;
  text-align: right;
  font-size: 3vmin;
  padding-top: 1.25vmin;
  li {
    display: inline;
    a {
      text-decoration: none;
      margin-right: 4vmin;
      color: $j-yellow;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

/* footer */

footer {
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-background-color;
  color: $disclaimer-color;
  font-size: 1.35vmin;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input {
  height: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Warning boxes for browser incompatibilities */

.no-js-box {
  border: 1px solid red;
  background-color: #ecc;
  font-size: xx-large;
  width: 80%;
  margin: 2vh 10%;
  padding: 3vh 5%;
}

.no-cookie-box {
  border: 1px solid red;
  background-color: #ecc;
  font-size: x-large;
  width: 80%;
  margin: 2vh 10%;
  padding: 3vh 5%;
}

#old-browser-warning {
  display: none;
}

.no-flexbox #old-browser-warning/*, .no-cssvminunit #old-browser-warning*/ {
  display: block;
}

/* home page */

#home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    height: 10vh;
    text-align: center;
    font-size: 4vmin;
    line-height: 13vh;
  }

  div {
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn.btn-primary {
    height: 20vh;
    width: 75vw;
    font-size: 10vmin;
    line-height: 18vh;
    color: $j-yellow;
    text-shadow: 0.2vw 0.2vw $j-shadow;
    border: 0.3vw solid $gameboard-color;

    &:hover {
      color: white;
    }
  }

  .soft-sell {
    height: 20vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    background-color: $j-blue;
    border: 0.3vw solid $gameboard-color;
    // To match the Bootstrap default for the buttons:
    border-radius: 4px;

    p {
      height: 6vh;
      line-height: 6vh;
      font-size: 4.5vmin;
      color: white;
      text-shadow: 0.2vw 0.2vw $j-shadow;
      text-align: center;

      a {
        color: $j-yellow;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

/* help and about pages */

#about-page {
  height: 100%;
  overflow: auto;
}

#help-page {
  height: 100%;
  overflow: auto;
}

.booyah-box {
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;

  p {
    font-size: medium;
  }
}

.j-box {
  color: white;
  background-color: $j-blue;
  margin-top: 10px;
  border: 0.3vw solid $gameboard-color;
  border-radius: 4px;

  p {
    font-size: large;
  }

  a {
    color: $j-yellow;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.pages-help img {
  border: 1px solid $gameboard-color;
}

/* signup page */

#signup-page {
  height: 100%;
  overflow: auto;

  #signup-privacy {
    font-size: medium;

    ul {
      list-style-position: inside;
    }
  }
}

/* stats page */

.k-box {
  color: white;
  background-color: $j-blue;
  margin-bottom: 10px;
  border: 0.3vw solid $gameboard-color;
  border-radius: 4px;

  p {
    font-size: medium;
  }

  a {
    color: $j-yellow;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

html.js #stats-area {
  display: none;
}

html.js #stats-loading-message {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html.no-js #stats-loading-message {
  display: none;
}

#stats-area {
  height: 100%;
  overflow: auto;
  font-size: 3.5vmin;

  ul.ui-tabs-nav {
    font-size: 2.25vmin;

    a, a:link, a:visited {
      color: #666;
    }

    .ui-tabs-tab.ui-tabs-active.ui-state-active {
      background-color: white;
      border: 1px solid #aaa;
      border-bottom: none;

      a, a:link, a:visited {
        color: black;
      }
    }
  }

  .ui-tabs-panel a {
    color: $j-light-blue;

    &:hover {
      color: $j-lighter-blue;
    }
  }

  .spacer {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  #games-headline a {
    color: $j-blue;

    &:hover {
      color: $j-lighter-blue;
      text-decoration: none;
    }
  }

  p.aside {
    font-size: 2vmin;
  }

  .disabled {
    color: #999;
    cursor: default;
  }

  /* Force some padding onto the table headings to keep
   * text and arrows from overlapping. */
  table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    padding-right: 20px;
  }

  /* Color code non-regular play types in Games and Filters tabs */
  table.tablesorter tbody {
    tr.teen td { background-color: #bed; }
    tr.toc td { background-color: #fbb; }
    tr.power td { background-color: #cdf; }
    tr.teachers td { background-color: #ffd; }
    tr.college td { background-color: #fec; }
    tr.celebrity td { background-color: #cbf; }
    tr.kids td { background-color: #bfb; }
    tr.decades td { background-color: #faa; }
    tr.ibm td { background-color: #fbf; }
    tr.mdci td { background-color: #ebf; }
    tr.kids-reunion td { background-color: #cfd; }
    tr.utoc td { background-color: #f99; }
    tr.mdm td { background-color: #fab; }
    tr.intl td { background-color: #eba; }
    tr.armed td { background-color: #fdc; }
    tr.teen-reunion td { background-color: #cfe; }
    tr.senior td { background-color: #cdc; }
    tr.tenth td { background-color: #fba; }
    tr.super td { background-color: #fa9; }
    tr.rock td { background-color: #99f; }
    tr.sports td { background-color: #bb8; }
    tr.other td { background-color: #bbc; }

    a {
      color: black;
    }
  }

  .end-of-group {
    border-right: 1px solid black;
  }

  #topics-notes {
    font-size: x-small;

    #notes-title {
      text-decoration: underline;
    }
  }

  /* "By row" tab */

  #by-row {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 0.3vw solid $gameboard-color;
    font-size: 2.2vmin;

    .round-by-row {
      height: 100%;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .by-row-row {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .three-liner div {
          color: black;
          margin: 0.5vh;
        }

        .by-row-value-box {
          height: 100%;
          width: 100%;
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $j-yellow;
          text-shadow: 0.2vw 0.2vw $j-shadow;
          font-size: 4vmin;
          font-weight: bold;
          background-color: $j-blue;
          border: 0.3vw solid $gameboard-color;
        }

        .by-row-regular-box {
          height: 100%;
          width: 100%;
          flex: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.3vw solid $gameboard-color;

          .counting-stats {
            height: 100%;
            width: 100%;
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .check {
              color: $check-green;
            }

            .ecks {
              color: $x-red;
            }

            .dot {
              color: $j-lighter-blue;
            }
          }

          .rate-stats {
            height: 100%;
            width: 100%;
            flex: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-left: 1px solid $gameboard-color;
          }
        }

        .by-row-dd-box {
          height: 100%;
          width: 100%;
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 0.3vw solid $dd-border;
        }
      }
    }
  }

  #finals {
    font-size: 2.5vmin;

    .top-pad {
      padding-top: 1.75vmin;
    }

    .breathable {
      padding: 0.35vmin 0;
    }

    hr.padded-rule {
      margin: 5vh 0;
    }

    #wagering-thoughts {
      font-size: medium;

      .caution-box {
        border: 1px solid #aa0;
        background-color: #ff9;
        padding: 2vh 2vw;
        margin-bottom: 3vh;
      }

      h3 {
        font-weight: bold;
        margin-bottom: 3vh;
      }

      ul {
        margin: 2vh 5vw 3vh 5vw;
      }
    }
  }

  #filters {
    font-size: 1.25vw;

    h2 {
      font-size: 2vw;
      margin-bottom: 5vh;
    }

    button {
      font-size: large;
    }

    button.disabled {
      pointer-events: none;
    }

    .filter-sentence, .weight-sentence {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;

      select {
        height: 4vh;
        margin: 0;
        box-sizing: border-box;
      }

      .display-or-hide {
        width: 10vw;
      }

      .filter-preposition {
        width: 18vw;
      }

      .filter-object, .weight-object {

        input {
          height: 4vh;
          margin: 0;
          box-sizing: border-box;
        }

        .beginning-dropdown {
          width: 18vw;
        }

        .number-entry {
          width: 4vw;
        }

        .unit-dropdown {
          width: 10vw;
        }

        .filter-datepicker {
          display: flex;
          height: 4vh;
          width: 11vw;

          input {
            width: 9vw;
          }

          .input-group-addon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1vw;
            box-sizing: border-box;
          }
        }
      }

      .filter-object.date-to {
        display: flex;
        align-items: baseline;
      }

      .weight-adverb {
        width: 20vw;
      }

      a.aside {
        font-size: 1.25vh;
        font-style: italic;
        margin-left: 1vh;
        color: black;

        &:hover {
          color: $j-light-blue;
          text-decoration: none;
        }
      }
    }


    #typeTable tbody td {
      vertical-align: middle;
    }

    #weight-clarification-modal {

      h4 {
        font-size: x-large;
      }

      p {
        font-size: medium;
      }
    }
  }  /* end filters */
}  /* end stats page */


/* game page */

#game-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2vw;

  #board-area {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 7;
    border: 0.3vw solid $gameboard-color;
    background-color: $j-blue;

    #board {
      z-index: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;

      .category {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cat-title {
          height: 100%;
          width: 100%;
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          font-size: 2.1vmin;
          line-height: 110%;
          font-weight: bold;
          text-shadow: 0.1vw 0.1vw $j-shadow;
          border: 0.3vw solid $gameboard-color;
          overflow: hidden;

          .click-resistant {
            pointer-events: none;
          }

          .default-cat {
            color: #777;
            text-shadow: none;
          }
        }

        .topic-area {
          flex: 1;
          background-color: white;
          color: black;
          text-align: center;
          border: 0.3vw solid $gameboard-color;
          margin: 0;
        }

        .clue-box {
          width: 100%;
          height: 100%;
          flex: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3vw;
          font-weight: bold;
          color: $j-yellow;
          text-shadow: 0.2vw 0.2vw $j-shadow;
          border: 0.3vw solid $gameboard-color;
          cursor: default;
        }

        .clue-box.clue-right {
          color: $check-green;
        }

        .clue-box.clue-wrong {
          color: $x-red;
        }

        .clue-box.clue-pass {
          color: $j-lighter-blue;
        }

        .active-clue-box:hover {
          background-color: $j-light-blue;
        }

        .dd-box {
          border: 0.3vw solid $dd-border;
        }
      }
    }

    #clue-over-board {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $j-blue;
      border: 0.3vw solid $gameboard-color;

      #clue-heading {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 6vh;
      }

      #clue-body {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #correctness-buttons {
          height: 90%;
          width: 65%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          button {
            height: 25%;
            width: 80%;
            font-size: 10vh;
            margin: 3vh 0;
          }

          #button-right.active {
            background-color: $check-light-green;
          }

          #button-wrong.active {
            background-color: $x-light-red;
          }

          #button-pass.active {
            background-color: $j-lighter-blue;
          }
        }

        #dd-nr-cancel {
          height: 90%;
          width: 35%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          div {
            height: 25%;
            width: 80%;
            margin: 3vh 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          label {
            color: white;
            font-size: 10vh;
            font-weight: normal;
            margin: 0;
          }

          input {
            width: 5vh;
            height: 5vh;
            cursor: pointer;
            /* TODO: Find a better fix for the tiny checkbox in Firefox */
            /* -moz-appearance: none; */
            margin: 0;
          }

          button {
            height: 100%;
            width: 100%;
            font-size: 10vh;
          }

          #button-nr button.active {
            background-color: $j-lighter-blue;
          }

          a {
            color: white;
            text-decoration: none;
          }

          #reset-cancel {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            #reset-link {
              font-size: 3vh;
            }

            #cancel-link {
              font-size: 5vh;
            }
          }
        }
      }
    }

    #final-over-board {
      position: absolute;
      top: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $j-blue;
      border: 0.3vw solid $gameboard-color;

      #final-cat-title {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 5vmin;
        line-height: 110%;
        font-weight: bold;
        text-shadow: 0.1vw 0.1vw $j-shadow;
        border: 0.3vw solid $gameboard-color;
        overflow: hidden;

        .click-resistant {
          pointer-events: none;
        }

        .default-cat {
          color: #777;
          text-shadow: none;
        }
      }

      #final-topic-area {
        height: 10%;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
        border: 0.3vw solid $gameboard-color;
        margin: 0;
      }

      #final-clue-body {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.3vw solid $gameboard-color;

        #final-correctness-buttons {
          height: 70%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          button {
            height: 50%;
            width: 40%;
            font-size: 10vh;
            margin: 3vh 0;
          }

          #button-final-right.active {
            background-color: $check-light-green;
          }

          #button-final-wrong.active {
            background-color: $x-light-red;
          }
        }

        #final-contestant-results {
          height: 30%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: flex-start;

          .contestant-result {
            color: white;
            font-size: 2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
              font-size: 2vw;
              font-weight: normal;
              margin: 0;
            }

            .btn-default.fj-button {
              padding: 1vh 1vw;
            }

            .btn-default.fj-button.fj-right.active {
              background-color: $check-light-green;
            }

            .btn-default.fj-button.fj-wrong.active {
              background-color: $x-light-red;
            }

            .btn-default.fj-button.fj-dnp.active {
              background-color: $j-lighter-blue;
            }
          }
        }
      }
    }
  }

  #panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $light-background-color;

    .disabled {
      color: #999;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }

    #scoreboard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2vw;

      #score {
        font-size: 3.5vw;
      }

      .score-positive {
        color: black;
      }

      .score-negative {
        color: red;
      }

      #final-symbol {
        font-size: 3.5vw;
      }
    }

    #round-links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      div {
        width: 33%;
        text-align: center;
      }
    }

    #save-area {
      width: 100%;

      .btn-link {
        color: $j-light-blue;
        padding: 0;
        font-size: 1.2vw;
        line-height: 1;
        height: 1.5vw;

        &.disabled {
          color: #999;
        }
      }

      .title {
        padding: 0 1.25vw;
      }

      .form-control {
        height: 2.75vw;
        padding: 0 1.25vw;
        font-size: 1.25vw;
      }

      .input-group-addon {
        padding: 0 1vw;
        font-size: 1.25vw;
      }

      #show-date-area.disabled {
        .form-control[disabled] {
          background-color: $light-background-color;
          cursor: default;
        }

        .input-group-addon {
          background-color: $light-background-color;
          cursor: default;
        }
      }

      #play-type-select {
        padding: 0 1vw;
      }

      #rerun-status-select {
        padding: 0 1vw;
      }
    }

    #panel-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
