<footer>
  <p>
  The J! Scorer is created by fans, for fans. The <i>Jeopardy!</i> game show and all elements thereof, including but not limited to copyright and trademark thereto, are the
  </p>
  <p>
  property of Jeopardy Productions, Inc. and are protected under law. This website is not affiliated with, sponsored by, or operated by Jeopardy Productions, Inc.
  </p>
</footer>
